[Desktop Entry]
Name=Nova Store
Comment=Zypper-based package manager
TryExec=novastore
Exec=novastore %U
Terminal=false
Type=Application
GenericName=
StartupNotify=true
Icon=plasmadiscover
Categories=System
MimeType=
SingleMainWindow=true
